a[target="google"]{
    color: green;
}
a[target="_blank"]{
    color: red;
}
#second-div p:nth-child(odd){
    color: blue;
}
#second-div p:nth-child(even){
    color: red;
}
 p[target="new"]:after{
    content: " -NEW";
    color: yellow;
    
}
[class|="text"]:hover {
    font-style: italic;
}
